ul,
ol,
li,
menu {
    list-style: none;
}

body {
    height: 100vh;
    background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p1/4466306-design-sfondo-azzurro-design-sfondo-bianco-e-blu-design-design-pulito-e-moderno-illustrazione-vettoriale.jpg');
    background-size: cover;
}